<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/shipper_administration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="permanent_component">
            <div id="logo_container">
                <div id="logo">
                <div id="logo">
                    <img  src="photo/random-logo-png-transparent.png" alt="">
                  </div>
                </div>
                <div id="social_media">
                    <div class="social_media"><img class="media_icon" src="/photo/facebook.png" alt=""></div>
                    <div class="social_media"><img class="media_icon" src="/photo/instagram-symbol.png" alt=""></div>
                    <div class="social_media"><img class="media_icon" src="/photo/pinterest.png" alt=""></div>
                </div>
            </div>
            
        </div>
    </header>
    <main>
        <div id="grid">
            <table>
                <tr>
                    <th>Order Id</th>
                    <th>Recipient Name</th>
                    <th>Recipient Address</th>
                </tr>
                <% for (let i=0; i<result.length; i++) {%>
                    <div class="row_container">
                        <tr class="row" id="<%=result[i]._id %>">
                            <td class="column result_id">
                                <div class="break-word">
                                    <a href="<%= 'http://localhost:3500' + '/Order_detail/'+ result[i]._id %>"><%=result[i]._id %></a>
                                </div>
                                
                            </td>
                            <td class="column">
                                <div class="break-word"><%=result[i].recipientName %></div>
                            </td>
                            <td class="column">
                                <div class="break-word"><%=result[i].recipientAddress %></div>
                            </td>
                        </tr>
                    </div>
                   
                    
                <%}%>
            </table>
        </div>
    </main>
    <footer></footer>
    <div id="controller">
        <div class="controller_icon">
            <a href="http://localhost:3500/myShipperAccount">
              <img class="icon" src="/photo/user.png" alt="">
            </a>
            
        </div>
        <div class="controller_icon">
            <img class="icon" src="/photo/settings.png" alt="">
        </div>
    </div>
    <script src="/js/shipper_administration.js"></script>

</body>
</html>
